body {
  font-size: 1vw; }

header {
  display: flex;
  justify-content: center;
  color: lightblue; }

#description, #input {
  width: 15vw;
  height: 2vw;
  margin-left: 1vw;
  margin-right: 1vw;
  font-size: 1.5vw; }

#start {
  display: flex;
  flex-direction: column;
  align-items: center; }

#latestincome {
  display: flex;
  flex-direction: column;
  align-items: center; }

#lincome {
  color: green; }

#latestexpense {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2vw; }

#lexpense {
  color: red; }

#section1 {
  display: flex;
  justify-content: center; }

#div-income {
  color: green; }

#div-expenses {
  color: red; }

#section2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  justify-content: space-around; }

#il {
  color: green; }

#el {
  color: red; }

#flex3 {
  display: flex;
  justify-content: space-around;
  width: 40vw;
  border: 2px solid blue;
  background-color: lightblue; }

#moneyleft {
  font-size: 4vw;
  color: blue;
  margin-bottom: 2vw; }

#exlist {
  justify-content: flex-end; }

@media only screen and (max-width: 600px) {
  body {
    font-size: 3vw; }
  #flex3 {
    width: 50vw; } }
